.Groups {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 20px;

	.GroupsTitle {
		display: flex;
		justify-content: space-between;
		& .NewGroups {
			background-color: #f4a261;
			border: none;
			padding: 5px 20px;
			color: white;
			font-weight: bold;
			font-size: 15px;
			&:hover {
				background-color: #F29040;
			}
		}
	}

	
	.AddGroup {
		border: solid 1px;
		border-radius: 7px;
		padding: 20px;
		height: max-content;
		
		.NewGroupForm {
			display: flex;
			flex-direction: column;
			// margin-top: 20px;
			// input[type = text], input[type = number] {
			// 	border: none;
			// 	transition: all .2s ease;
			// 	padding: 7px 20px;
			// 	border-radius: 5px;
			// 	&:focus {
			// 		outline: none;
			// 		// filter: brightness(190%);
			// 	}
			// }
		
			input[type = submit] {
				background-color: #f4a261;
				border: none;
				// width: 150px;
				padding: 5px 20px;
				color: white;
				font-weight: bold;
				margin-top: 20px;
				font-size: 15px;
				transition: all .2s ease;
				&:hover {
					// background-color: #F29040;
					// filter: brightness(90%);
					// filter: hue-rotate(-10deg);
				}
			}
			& * {
				width: 100%;
				margin-top: 10px;
			}
		}
	}

	.GroupsList {
		background-color: white;
		border: solid 1px #dbdbdb;
		border-radius: 7px;
		padding: 20px;

		.Filters {
			width: 100%;
			padding: 20px 0;
		}
	}

	.Actions {
		display: flex;
		& .Action {
			margin: auto 5px;
			padding: 5px;
			color: white;
			cursor: pointer;
		}
		& .Remove {
			background-color: #e22856;
		}
		& .Edit {
			background-color: #64a54e;
		}
	}
}
