.Groups {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 20px;

	.GroupsTitle {
		display: flex;
		justify-content: space-between;
		& .NewGroups {
			background-color: #f4a261;
			border: none;
			padding: 5px 20px;
			color: white;
			font-weight: bold;
			font-size: 15px;
			&:hover {
				background-color: #F29040;
			}
		}
	}

	
	.AddGroup {
		border: solid 1px;
		border-radius: 7px;
		padding: 20px;
		height: max-content;
		
		.NewGroupForm {
			display: flex;
			flex-direction: column;
		
			input[type = submit] {
				border: none;
				padding: 10px 20px;
				color: white;
				font-weight: bold;
				margin-top: 20px;
				font-size: 15px;
				transition: all .2s ease;
				border-radius: 3px;
				border: 1px solid;
			}
			& * {
				width: 100%;
				margin-top: 10px;
			}
		}
	}

	.GroupsList {
		border: solid 1px;
		border-radius: 7px;
		padding: 20px;
		// color: white;
		.Filters {
			width: 100%;
			padding: 20px 0;
		}
	}

	.Actions {
		display: flex;
		& .Action {
			margin: auto 5px;
			padding: 4px;
			color: white;
			cursor: pointer;
			border: 1px solid;
			border-radius: 3px;
			transition: all .2s ease;
		}
	}
}
