.Layout {
	background-color: #264653;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.Main {
	width: 100%;
	background-color: #F0F1F3;
	display: flex;
	flex-direction: column;
}