.MainSideBarItem {
	width: 100%;
	margin: 5px auto;
	.MainSideBarItemToggle {
		width: 100%;
		padding: 10px 20px;
		display: flex;
		flex-direction: row;
		border-radius: 3px;
		cursor: pointer;
		transition: all .2s ease;
		text-decoration: none;
		color: black;
		&:focus {
			outline: none;
		}
		&:hover {
			background-color: #f4f5f8;
		}
		& p {
			margin: auto;
			margin-left: 0;
			margin-right: 15px;
		}
		.ToggleArrow {
			margin: auto;
			margin-right: 0;
			&:hover {
				background-color: #dedfe2;
			}
		}
	}

	.MainSideBarItemToggleActive {
		color: #9e693e;
		&:hover {
			// background-color: #fae3d0;
		}
	}

	.MainSideBarItemMenu {
		max-height:0;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		background-color: white;
		width: 100%;
		transition: all .2s ease;
		.ItemItem {
			color: black;
			width: 100%;
			margin: auto;
			padding: 10px 0;
			padding-left: 60px;
			border-radius: 3px;
			text-decoration: none;
			&:focus {
				outline: none;
			}
			&:hover {
				text-decoration: none;
				background-color: #f4f5f8;
			}
		}
	}

	.MainSideBarItemMenuOpen {
		height: auto;
		max-height: 300px;
		transition: height .2s ease;
	}

	.MainSideBarItemActive, .MainSideBarItemMenu .ItemItemActive {
		background-color: #fae3d0;
		color: #9e693e;
		&:hover {
			background-color: #f8d2b2;
		}
	}

}

