@keyframes cardEntrance {
	from {
		opacity: 0;
		// transform: scale(0);
		// width: 0;
		// height: 0;
	}
	to {
		opacity: 1;
		// transform: scale(1);
		/* height: 70%; */
		// width: 600px;
		// height: max-content;
		/* height: 600px; */
	}
}


.OtherDetails {
	position: fixed;
	margin: auto;
	// overflow: hidden;
	width: 700px;
	height: max-content;
	padding: 30px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99999;
	// background-color: burlywood;
	background-color: white;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	animation: cardEntrance 700ms ease;
	animation-fill-mode: forwards;
}

.CardModalBackDrop {
	z-index: 99997;
	width: 100%;
	height: 100%;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: hsla(255, 0%, 0%, .5);
	box-sizing: border-box;
}

.Actions *{
	margin-left: 10px;
}

.OtherDetails .Actions {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	justify-items: flex-end;
	margin-top: 10px;
	& * {
		margin: auto;
		margin-left: 10px;
		margin-right: 0px;
	}
}


.EditTable {
	width: 100%;
	display: flex;
	& .EditTableTabs {
		width: 49%;
		margin: auto;
		border: none;
		margin-top: 0;
		// border-left: solid;
	}
	
	& .EditTableTabs input {
		width: 100%;
	}
}

table {
	margin-top: 20px;
}

.OtherDetailsItem {
	width: 100%;
	display: flex;
	flex-direction: row;
	border-bottom: solid .5px rgb(202, 202, 202);
	padding: 5px 0;
	& .OtherDetailsItemTitle {
		margin: auto;
		margin-left: 0;
	}
}

.AddStudent {
	position: fixed;
	margin: auto;
	width: 700px;
	height: max-content;
	padding: 30px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99999;
	// background-color: burlywood;
	background-color: white;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	animation: cardEntrance 700ms ease;
	animation-fill-mode: forwards;
}