.Alert{
	width: 100%;
	min-height: 50px;
	padding: 10px 20px;
	box-sizing: border-box;
	margin: auto;
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border: 1px solid;

	& .CloseAlert {
		width: 15px;
		height: 15px;
		display: flex;
		align-items: center;
		cursor: pointer;
		justify-content: center;
		box-sizing: border-box;
	}
	
	& .AlertBody {
		margin-left: 0px;
		box-sizing: border-box;
		align-items: center;
		display: flex;
		& p {
			margin: auto;
			margin-left: 10px;
		}
	}
}

.AlertSuccess {
	background-color: #CAFFBF;
	color: #4d6947;
	border-color: #b0dba7;
}

.AlertFail {
	background-color: #FFADAD;
	color: #865151;
	border-color: #d89c9c;
	
}

.AlertWarning {
	background-color: #FFD6A5;
	color: #9c734d;
	border-color: #d6b48e;

}

.BackDrop {
	// cursor: pointer;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99998;
	// background-color: #E76F51;
};

.FilterSelect {
	width: 300px;
	height: 50px;
	background-color: #EFEFEF;
	color: #868686;
	border: none;
	outline: none;
	padding: 0 20px;
	appearance: none;
	-moz-appearance: none;
    -webkit-appearance: none;
	&:focus {
		outline: none;
		border: none;
	}
}

.FormInput {
	& p  {
		margin-bottom: 5px;
	}
	& input[type=text],
	& input[type=number],
	& input[type=date],
	& input[type=email], & select {
		background-color: #EFEFEF;
		border: none;
		background-color: #EFEFEF;
		transition: all .3s ease;
		width: 100%;
		padding: 10px 20px;
		&:focus {
			outline: none;
			background-color: #dddddd;
		}
	}
	& select {
		color: rgb(100, 100, 100);
		padding: 12px 20px;
	}
}

.MainTitle {
	font-family: sans-serif;
	font-family: "Google Sans",Arial,sans-serif;
	width:100%;
	display: flex;
	flex-direction: column;
	padding: 20px;
	line-height: 15px;
	text-decoration: none;
	.MainTxt {
		text-transform: uppercase;
		color: rgb(125, 125, 125);
		font-size: 15	px;
		font-weight: 500;
		letter-spacing: 7px;
	}
	.SubTxt {
		font-size: 25px;
		font-weight: 700;
		color: rgb(49, 51, 56);
		&:focus {
			outline: none;
		}
		&:hover {
			text-decoration: none;
		}
	}
}

.FilterByValue {
	transition: all .2s ease;
	background-color: #F0F1F3;
	width: 300px;
	margin: auto;
	padding: 7px 20px;
	border-radius: 5px;
	color: #c1c1c2;	
	border: none;
	&::placeholder{
		color: #c1c1c2;
	}
	&:focus {
		color: rgb(140, 140, 140);
		outline: none;
		background-color: #dddddd;
		&::placeholder{
			color: rgb(125, 125, 125);
		}
	}
}
