.Alert{
	width: 100%;
	min-height: 50px;
	padding: 10px 20px;
	box-sizing: border-box;
	margin: auto;
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border: 1px solid;

	& .CloseAlert {
		width: 15px;
		height: 15px;
		display: flex;
		align-items: center;
		cursor: pointer;
		justify-content: center;
		box-sizing: border-box;
	}
	
	& .AlertBody {
		margin-left: 0px;
		box-sizing: border-box;
		align-items: center;
		display: flex;
		& p {
			margin: auto;
			margin-left: 10px;
		}
	}
}

.AlertSuccess {
	background-color: #CAFFBF;
	color: #4d6947;
	border-color: #b0dba7;
}

.AlertFail {
	background-color: #FFADAD;
	color: #865151;
	border-color: #d89c9c;
	
}

.AlertWarning {
	background-color: #FFD6A5;
	color: #9c734d;
	border-color: #d6b48e;

}

.BackDrop {
	// cursor: pointer;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99998;
	// background-color: #E76F51;
};

.FilterSelect {
	width: 300px;
	height: 50px;
	background-color: #EFEFEF;
	color: #868686;
	border: none;
	outline: none;
	padding: 0 20px;
	appearance: none;
	-moz-appearance: none;
    -webkit-appearance: none;
	&:focus {
		outline: none;
		border: none;
	}
}

.FormInput {
	& p  {
		margin-bottom: 5px;
	}
	& input[type=text],
	& input[type=number],
	& input[type=date],
	& input[type=email], & select {
		background-color: #EFEFEF;
		border: none;
		background-color: #EFEFEF;
		transition: all .3s ease;
		width: 100%;
		padding: 10px 20px;
		&:focus {
			outline: none;
			background-color: #dddddd;
		}
	}
	& select {
		color: rgb(100, 100, 100);
		padding: 12px 20px;
	}
}


.SearchComponent {
	height: 100%;
	display: flex;
	z-index: 99999;
	position: relative;
	& input {
		transition: all .2s ease;
		background-color: #279185		;
		// background-color: rgba(13, 99, 89, 0.3);
		border: solid 1px #228176;
		width: 300px;
		margin: auto;
		height: 50%;
		padding: 20px;
		color: white;
		border: none;
		&::placeholder{
			// color: rgba(255, 255, 255, 0.342);
			color: #1E7167;
		}
		&:focus {
			// background-color: rgb(12, 94, 84);
			outline: none;
		}
	}

	& .SearchResult {
		position: absolute;
		top: 100%;
		width: 100%;
		max-height: 240px;
		overflow-y: auto;
		// background-color: white;
		background: #fafafa;
		display: flex;
		flex-direction: column;
		border: solid 1px #dbdbdb;
    	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.0975); 
    	box-shadow: 0 0 5px rgba(0,0,0,.0975);
		.Item {
			transition: all .1s ease;
			width: 100%;
			border-bottom: solid 1px #dbdbdb;
			padding: 10px 20px;
			text-align: left;
			text-decoration: none;
			color: rgb(100, 100, 100);
			&:-webkit-any-link {
				color: rgb(100, 100, 100);
			}
			&:visited {
				color: rgb(100, 100, 100);
				text-decoration: none;
			}
			&:hover {
				color: rgb(100, 100, 100);
				text-decoration: none;
				background: #f3f3f3;
			}
		}
	}
	& .SearchNoResult {
		height: max-content;
		& p {
			margin: auto;
			color: rgb(100, 100, 100);
			padding: 10px 20px;
		}
	}
}