.Parents {
	width: 100%;
	height: auto;
	display: grid;

	.Filters {
		width: 100%;
		padding: 20px 0;
	}

	.ParentsTitle {
		display: flex;
		justify-content: space-between;
		& .NewParent {
			background-color: #f4a261;
			border: none;
			// width: 150px;
			padding: 5px 20px;
			color: white;
			font-weight: bold;
			font-size: 15px;
			&:hover {
				background-color: #F29040;
			}
		}
	}

	.ParentsList {
		background-color: white;
		border: solid 1px #dbdbdb;
		border-radius: 7px;
		padding: 20px;
		margin-top: 20px;
	}

	.Actions {
		display: flex;
		& .Action {
			margin: auto 5px;
			padding: 5px;
			color: white;
			cursor: pointer;
		}
		& .Remove {
			background-color: #e22856;
		}
		& .Edit {
			background-color: #64a54e;
		}
	}
}
