.SearchComponent {
	display: flex;
	z-index: 99999;
	position: relative;
	& input {
		transition: all .2s ease;
		width: 90%;
		margin: auto;
		padding: 7px 20px;
		border-radius: 5px;
		// color: #c1c1c2;
		// border: none;
		border: solid 1px;
		&::placeholder{
			// color: #c1c1c2;
		}
		&:focus {
			// color: rgb(140, 140, 140);
			outline: none;
			&::placeholder{
				color: rgb(125, 125, 125);
			}
		}
	}

	& .SearchResult {	
		position: absolute;
		top: 100%;
		width: 100%;
		max-height: 240px;
		overflow-y: auto;
		// background-color: white;
		background: #fafafa;
		display: flex;
		flex-direction: column;
		border: solid 1px #dbdbdb;
    	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.0975); 
    	box-shadow: 0 0 5px rgba(0,0,0,.0975);
		.Item {
			transition: all .1s ease;
			width: 100%;
			border-bottom: solid 1px #dbdbdb;
			padding: 10px 20px;
			text-align: left;
			text-decoration: none;
			color: rgb(100, 100, 100);
			display: flex;
			&:-webkit-any-link {
				color: rgb(100, 100, 100);
			}
			&:visited {
				color: rgb(100, 100, 100);
				text-decoration: none;
			}
			&:hover {
				color: rgb(100, 100, 100);
				text-decoration: none;
				background: #f3f3f3;
			}
			& p {
				margin: auto;
				margin-left: 0;
			}
			.Img {
				margin: auto;
				margin-left: 0;
				margin-right: 20px;
				width: 50px;
				height: 50px;
				border-radius: 9in;
				background-size: cover;
				background-repeat: no-repeat;

			}
		}
	}
	& .SearchNoResult {
		height: max-content;
		& p {
			margin: auto;
			color: rgb(100, 100, 100);
			padding: 10px 20px;
		}
	}
}