$headerHeight : 60px;

@keyframes cardEntrance {
	from {
		opacity: 0;
		// transform: scale(0);
		// width: 0;
		// height: 0;
	}
	to {
		opacity: 1;
		height: max-content;
	}
}

.Header {
	height: $headerHeight;
	width: 100%;
	// padding: 20px;
	padding-right: 20px;
	background-color: #2A9D8F;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	box-sizing: border-box;
	& .Icons {
		margin: auto 20px;
		color: white;
		cursor: pointer;
		height: 30px;
		width: 30px;
		& .IconIcon {
			height: 100%;
			width: 100%;
		}
	}
	& .UserSection {
		display: flex;
		height: $headerHeight;
		flex-direction: column;
		margin: 0;
		color: white;
		margin-right: 20px;
		// padding: 10px 0;
		& p {
			margin: auto;
			padding-top: 0;
			width: 100%;
			text-align: left;
			line-height: 18px;
			& strong {
				padding-top: auto;
				padding-bottom: 0;
			}
			// background-color: red;
		}
	}
	& .ProfileDrop {
		transition: all .3s ease;
		background-color: white;
		color: rgb(100, 100, 100);
		box-shadow: 0 0 15px hsla(0, 0, 40%, .5);
		position: absolute;
		top: $headerHeight;
		width: 250px;
		display: flex;
		overflow: hidden;
		flex-direction: column;
		z-index: 99999;
		& .ProfileDropAction {
			& * {
				margin: auto 10px;
				margin-left: 0;
			}
			text-decoration: none;
			display: flex;
			align-items: center;
			color: inherit;
			&:visited {
				color: inherit;
			}
			padding: 10px 20px;
			cursor: pointer;
			transition: all .3s ease;
			&:hover {
				background-color: #F8F9FA;
			}
		}
		& .User {
			padding: 20px;
			background-color: #E76F51;
			color: white;
			font-weight: 700;
			text-transform: capitalize;
		}
	}
	& .ProfileDropOpen {
		height: auto;
		padding-bottom: 10px;

	}
	& .ProfileDropClosed {
		height: 0px;
	}
}